{% extends 'blog/base.html' %}

{% block content %}
    <h1 style="text-align: center;text-decoration: underline;font-style: italic">Press the button below to Pay now</h1>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="text-align: center">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="WH6GLRHAT8UQJ">
<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>




{% endblock %}